hosts:
  minion1:
    role: minion
    ip: 10.0.44.10
    master: master
  minion2:
    role: minion
    ip: 10.0.44.11
    master: master
  master: 
    role: master
    ip: 10.0.44.2
    memory: 1536
    cpus: 2
    master: master
    master_config:
      worker_threads: 2
      file_roots: 
        base: 
          - /vagrant/saltstack/salt
      pillar_roots: 
        base:
          - /vagrant/saltstack/pillar
